@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: ubunto,sans-serif;
 
}
 nav ul  {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 60px;
    color: white;

 }
 .brand span{
    font-weight: bold;
    letter-spacing: 1px;
 }
 nav ul li{
    padding: 0 12px;
 }
 .brand img{
    width: 50px;
    padding: 0 8px;
 }
 .brand{
    
    display: flex;
    align-items: center;
}

                                   /*   end of navbar section */

.container{
    height: 65vh;
    font-family: varela round,sans-serif;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 20px;
    padding: 10px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  

}
.songitem{
    display: flex;
    background-color: white;
    
    height: 50px;
    color: black;
    margin: 12px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}
.songitem img{
    width: 50px;
    height: 48px;
}
.songitem span{
    font-size: 13px;
}
.songlistplay{
    margin: 0 16px;
    cursor: pointer;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    
}
.bottom input{
    width: 70vw;
    cursor: pointer;
 
}
.icons{
    margin-top: 15px;
}
.icons i{
    color: white;
    cursor: pointer;
}
.playing{
    position: absolute;
    color: white;
    left: 14vw;
}
.playing img{
    margin: 0 5px;
    opacity: 0 ;
    transition: opacity 0.8 ease-in;
    
}